/.idea/
/.vagrant/
/3rdparty/
/bin/
/build/
/obj/
/cmake-build-*/
/dependencies/
/requirements/
/src/versions.h
/tests/unit/constants.h

.directory/
.DS_Store
__pycache__/
venv/

._*
*.log
*.o
*.pcap
!/tests/system/system-tests.pcap
