/.vagrant/
/.vscode/
/3rdparty/
/build/
/cmake-build-*/
/dependencies/
/src/versions.h
/tests/unit/constants.h

__pycache__/
venv/

platform-tests-*.results
._*
*.log
*.o
*.pcap
!/tests/crypto/pcaps/*.pcap
!/tests/system/system-tests.pcap
